<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"> <!--<![endif]-->
    <h:head>
        
<!--        teste-->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Workademic</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />

        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />       
        <link rel="shortcut icon" href="icon.ico"/>

        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <!--[if lt IE 9]>
            <script src="js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
        <![endif]-->
    </h:head>
    <h:body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="logo2.png"/></a>
                </div>
                <div class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" role="form">
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Senha" class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-success">Entrar</button>
                    </form>
                </div><!--/.navbar-collapse -->
            </div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-lg-8">

                    <!-- blog entry -->
                    <h1><a href="#">Título do artigo</a>
                    </h1>
                    <p class="lead">por <a href="index.php">Autor</a>
                    </p>
                    <hr/>
                    <p>
                        <span class="glyphicon glyphicon-time"></span> Enviado em 30 de Maio de 2013 as 23:21</p>
                    <hr/>
                    <img src="http://placehold.it/900x300" class="img-responsive"/>
                    <hr/>
                    <p>Resumo: This is a very basic starter template for a blog homepage. It makes use of Glyphicons that are built into Bootstrap 3, and it makes use of the Pager at the bottom of the page. Make sure you get the Glyphicons files by downloading the entire
                        <code>/fonts</code>directory that you can download in the source files or at <a href="http://getbootstrap.com">getbootstrap.com</a>. That directory has all of the web fonts in it which makes Glyphicons work.</p>
                    <a class="btn btn-primary" href="#">Leia mais <span class="glyphicon glyphicon-chevron-right"></span></a>

                    <hr/>                    

                    <!-- pager -->
                    <ul class="pager">
                        <li class="previous"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span> Anterior</a>
                        </li>
                        <li class="next"><a href="#">Próximo <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </li>
                    </ul>

                </div>

                <div class="col-lg-4">
                    <div class="well">
                        <h4>Procurar Artigo</h4>
                        <div class="input-group">
                            <input type="text" class="form-control"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </div>
                    <!-- /well -->
                    <div class="well">
                        <h4>Áreas Populares</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#dinosaurs">Dinosaurs</a>
                                    </li>
                                    <li><a href="#spaceships">Spaceships</a>
                                    </li>
                                    <li><a href="#fried-foods">Fried Foods</a>
                                    </li>
                                    <li><a href="#wild-animals">Wild Animals</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#alien-abductions">Alien Abductions</a>
                                    </li>
                                    <li><a href="#business-casual">Business Casual</a>
                                    </li>
                                    <li><a href="#robots">Robots</a>
                                    </li>
                                    <li><a href="#fireworks">Fireworks</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /well -->
                    <div class="well">
                        <h4>Ultimos Artigos</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#dinosaurs">Dinosaurs</a>
                                    </li>
                                    <li><a href="#spaceships">Spaceships</a>
                                    </li>
                                    <li><a href="#fried-foods">Fried Foods</a>
                                    </li>
                                    <li><a href="#wild-animals">Wild Animals</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /well -->
                </div>
            </div>

            <hr/>

            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright Workademic 2014</p>
                    </div>
                </div>
            </footer>

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="js/vendor/jquery-1.9.1.min.js"></script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </h:body>
</html>
